.resto_global {
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
  }
  #resto_titre h3 {
    padding: 30px 0px 0px 10px;
    font-size: 1.3em;
  }
  .accomodation {
    border-radius: 25px;
    box-shadow: 4px 4px 6px #aaa;
    margin: 20px;
    position: relative;
    background: #fff;
  }
  .accomodation a {
    text-decoration: none;
    color:black;
    font-family: Roboto;
    font-size:1em;
  }

  .accomodation img {
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    height: 100%;
    max-height: 220px;
  }
  .accomodation figure {
    margin: 0;
  }
  
  .accomodation figcaption {
    margin: 0;
    padding: 10px;
  }
  .nouveau {
    color: #008766;
    background: #99E2D0;
    border: 5px solid #99E2D0;
    border-radius: 5px;
    position: absolute;
    right: 1%;
    top: 5%;
  }
  .coeur{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .coeur h4 {
    margin: 0;
    font-size: 1.4rem;
    /*text-decoration: none;*/
  }
  .point_coeur i {
    color: black;
    cursor: pointer;
  }
  .point:hover{
    animation:fill 0.3s ease-in-out;
    display: inline-block;
    opacity: 1;
    background: linear-gradient( #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    background: -webkit-linear-gradient( #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  @keyframes fill {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
@media screen and (min-width: 768px) {
  #resto_titre{
    width: 100%;
  }
  #resto_titre h3 {
    text-align: center;
  }
  .accomodation{
    width: 40%;
  }
  .resto_global{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  
}
@media screen and (min-width: 1600px) {
  .resto_global{
    padding: 0 20%;
  
  }
  
}
@media screen and (max-width: 455px) {
  #resto_titre{
    font-size:1.3em;
  }
}
